
@{
    ViewBag.Title = "AddRestaurants";
    Layout = "~/Views/Shared/_NGOLayout.cshtml";
}

<h2>AddRestaurants</h2>

<form action="" method="post">
 
    <input type="password" name="Password" class="form-control" placeholder="Password" />
    <input type="text" name="RestaurantName" class="form-control" placeholder="Restaurant Name" />
    <input type="text" name="Location" class="form-control" placeholder="Location" />
    <input type="text" name="ContactPerson" class="form-control" placeholder="Contact Person" />
    <input type="text" name="ContactNumber" class="form-control" placeholder="Contact Number" />
    <input type="email" name="EmailAddress" class="form-control" placeholder="Email Address" />
   
    <input type="submit" name="submit" class="btn btn-success" value="Add" />
</form>