
@{
    ViewBag.Title = "LoginRestaurant";
    Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
}

<h2>LoginRestaurant</h2>

<form action="" method="post">
    <input type="text" name="RestaurantID" class="form-control" placeholder="Restaurant ID" />
    <input type="password" name="Password" class="form-control" placeholder="Password" />
    <input type="submit" name="submit" class="btn btn-success" value="Sign In" />
</form>